rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow ANY read/write during tests
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
