name: Node.js CI

on:
  push:
    branches: ["main", "Organizer", "Student", "Administrator", "github_action", "github_actions_ayan", "github_action_rakib"]
  pull_request:
    branches: ["main", "Organizer", "Student", "Administrator"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Start Firestore Emulator
        run: |
          firebase emulators:start --only firestore --project=evently-demo &
          sleep 5

      - name: Run tests
        env:
          FIRESTORE_EMULATOR_HOST: "127.0.0.1:8080"
        run: npm test

      - name: Kill Firebase emulator
        run: kill $(lsof -t -i:8080) || true
